[project]
	description = A fast Graphite relay
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/markchadwick
[access "refs/for/refs/*"]
	read = group user/markchadwick
	push = group user/markchadwick
	label-Code-Review = -2..+2 group user/markchadwick
	label-Verified = -1..+1 group user/markchadwick
	rebase = group user/markchadwick
	removeReviewer = group user/markchadwick
	submit = group user/markchadwick
[access "refs/heads/*"]
	read = group user/markchadwick
	create = group user/markchadwick
	push = +force group user/markchadwick
	pushMerge = group user/markchadwick
[access "refs/tags/*"]
	push = +force group user/markchadwick
	pushTag = group user/markchadwick
	pushSignedTag = group user/markchadwick
